<!--Incluir codigo ./header.ejs Na pagina Cuidadores-->
<%- include('include/header.ejs')%>

<!-- Inserir CSS apenas para esta pagina -->

<!--EX:  <link rel="stylesheet" type="text/css" href="/caminho/caminho2.css" media="screen" /> -->
<link rel="stylesheet" type="text/css" href="/css/cria_oferta.css" media="screen" />


<!-- ----------------------------------------------------------------------------------------- -->
<!--Inicio do Body(Corpo da pagina)-->
<body class= "meu_background">
  <div class="imagemtela">
    
    <div id="colstr">
    
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--Importando Scripts Para Nossa Pagina             -->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
  
        <script 
        src = "https://code.jquery.com/jquery-3.4.1.min.js" 
        Integrity = "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo =" 
        crossorigin = "anonymous" > </script>
<!--Fim da Chamada-->


  <!--Chama Um arquivo JS para a Pagina                                                            -->
  <!--Por padrao todas as pastas estao configuradas no index.js para ter como padrao a pasta public-->
  <!--EX: <script type="text/javascript" src="/js/initial.js"></script>                            -->
  <!--Qualquer outro caminho que nao derive da pasta public deve ser especificado corretamente     -->



    <!--Menu Superior da pagina(Header)-->
   
    <header>

      <div class="group">
      
        <nav id="primeiramenu">
          <a href="http://www.facebook.com/"><img id="icon" src="./assets/facebook.png"  width="32px;"></a>
          <a href="http://www.instagram.com/"><img id="icon" src="./assets/instagram.png" width="32px;"></a>
          <a href="https://github.com/PlayerX-000/PetTour"><img id="icon" src="./assets/github.png"    width="32px;"></a>
        </nav>
      
        <nav id="segundamenu">
      <div>
        <img src="./assets/titulo.ico" width="100px;">
      <h1>Pet Tour - 
        Passeios com Pet
      </h1>
      </div>
      </nav>
      
        <nav id="terceiramenu">
      <div>
      
          <ul class="nav nav-pills">
              <li class="nav-item"><a href="../principal"
                      class="linksmenu">Principal</a></li>
              <li class="nav-item"><a href="/pesquisa" class="linksmenu">Pesquisa</a></li>
      
              <li class="nav-item"><a href="/pagina_usuario" class="linksmenu">Perfil</a></li>
              <li class="nav-item"><a href="/mais" class="linksmenu"
                  aria-current="page">Mais Sobre</a></li>
                  <li class="nav-item"><a href="/suporte" class="linksmenu">Suport</a></li>
      </ul>
      </div>
        </nav>
      
      </div>
      
            </header>
  <!--Fim do Menu superior-->

  <!--Inicio Do Corpo Da Pagina-->

        <form id="formcriasoli">
          <div id="jummar">    
            <section class="jumbotron text-center">
                
        
        
        
        
              <div class="container">
                <nav id="sidebar">
                  <div class="form-group">
                    <label for="iduser">ID do user</label>
                    <input name="id" type="text" class="form-control" readonly="readonly" id="iduser" required>
                  </div>
                  <div class="form-group">
            <label for="nome">nome</label>
            <input name="Nome"  type="text" class="form-control" id="nome"       placeholder="Ex: Kauan" required>
            </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input name="Email" type="text" class="form-control" id="email" placeholder="Ex: Kauan@gmail.com" required>
          </div>
          <div class="form-group">
            <label for="bairro">bairro</label>
            <input name="Bairro" type="text" class="form-control" id="bairro" placeholder="Ex: Mantiqueira" required>
          </div>
          <div class="form-group">
            <label for="cidade">cidade</label>
            <input name="Cidade" type="text" class="form-control" id="cidade" placeholder="Ex: Taubaté" required>
          </div>




          <div class="form-group">
            <label for="contato">contato</label>
            <input name="Contato" type="text" class="form-control" id="contato" placeholder="Ex: 12988935859" required>
          </div>
          <div class="form-group">
            <label for="valor">Valor Minimo a Ser Cobrado</label>
            <input type="number" step="0.01" class="form-control" name="Valor" min="1.0" id="valor" placeholder="Ex: 10,90" required>
               </div>
        
          <div class="form-group">
            <label for="categoria">Selecione a Categoria de Pet</label>
            <select id="select" class="form-control form-control-sm">
                <option>todas</option>
              
                <option>gato</option>
                <option>cachorro</option>
      
                <option>peixe</option>
                <option>urso</option>
                <option>leao</option>
      
                <option>tubarao</option>
                <option>peixe</option>
            </select>
          </div>
          <div id="msgdvlt"></div>
    </nav>
        </div>
     
      <button type="submit" id="criasoli" class="btn btn-primary my-2">Criar</button>

        </section>
        </div>
        </form>

      </div>
 
        <a href="/pagina_usuario" id="voltarpageuser" class="btn btn-primary my-2">Voltar</a>
  
      </div>
      

   <!--Fim Do Corpo Da Pagina-->

   <script type="text/javascript" src="/js/carregadadosof.js"></script>

<!--Inicio Do Footer(Codigo do ./Footer.Ejs-->
<%- include('include/footer.ejs')%>