<html lang="pt-BR"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404</title>
    <link rel="stylesheet" type="text/css" href="/css/404.css" media="screen" />
</head>
<body>
<div id="erro404">
    <nav>
    <img src="/assets/favicon2.ico">
    </nav>
    <nav>
    <h1>Pagina Nao Encontrada: ::1</h1>
    </nav>
    <nav>
        <a class="link" href="/">Voltar</a>
    </nav>
</div>
</body>
</html>