.meu_background {
     background-image:url('../assets/img/fundo.jpeg') !important;
     background-size: contain !important;
  }

#colstr h1 {
    font-size: calc(1.375rem + 2.5vw)!important;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000018f6;
    font-size: 1.8cm;
    font-family: system-ui;
    font-style: oblique;
}

#colstr p {
    color: #1a004cb3;
    font-size: 1.2em;
    font-family: initial;
    font-style: oblique;
    margin: 0 !important;
}

#colstr a {
    color: #1a004cb3;
    font-size: 0.99em;
    font-family: initial;
    font-style: oblique;
}

.conj_text {
    color: #001871;
    font-size: 1.25em;
    font-family: monospace;
    font-variant-caps: unset;
}
.jumbotron {
  background-color: #ffffff00!important;
}

a#btnenv {
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    border-color: #005858!important;
    margin-top: calc(100% - 50%);
    background: #9497ee !important;
}

a#btnenv:hover {
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    border-color: #013636!important;
    background-color: #a0a3f1 !important;
    margin-top: calc(100% - 50%);
}
h1.colortitle {
    color: #000018f6;
    font-size: 1.8cm;
    font-family: system-ui;
    font-style: oblique;
}
p.colortitle {
    color: #1a004cb3;
    font-size: 1.6em;
    font-family: initial;
    font-style: oblique;
}

p.text {
    color: #000000b5;
    font-size: 1.0em;
    font-style: oblique;
    font-family: initial;
}

h2.colortitle {
    color: #000000da;
    font-size: 0.9cm;
    font-family: system-ui;
    font-style: oblique;
}

li.nav-item:hover {
    font-size: 0.99em;
}div#colstr {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.navbar .nav {
    position: relative !important;
    left: 0 !important;
    display: flex !important;
    float: left !important;
    margin: 0 0 0 0 !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    align-content: center !important;
    justify-content: space-around !important;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
}


.row {
    background-color: #03797445 !important;
    border-radius: 25px !important;
    width: auto !important;
    height: auto !important;
}

.col-md-4 {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.imgsicon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
}

nav#btao {
    height: 7em;
}

.col-md-4#meio01 {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}